@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5c9df;
}

.container {
  max-width: 1440px;
}

.login-container {
  max-width: 500px;
  padding: 106px;
  background-color: red;
}


form {
  border: 3px;
  border-color: red;
}

/* Login-Menu decoration */
#login-menu {
  position: absolute;
  width: 36vw;
  height: 724px;
  left: 55vw;
  top: 15vh;


  box-sizing: border-box;
  background: #FBFAFA;
  border: 3px solid #846060;
  border-radius: 50px;
  padding: 30px;

}

.login {
  font-size: 19px;
  display:flex;
  flex-direction: column;
  color: black;
}


.heading-container h2 {
  font-size: 30px;
  letter-spacing: 0.05rem;
  margin-bottom: -5px;
}
.heading-container p {
  letter-spacing: 0.05rem;
}

#Google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  border: 3px solid #D9D9D9;
  border-radius: 50px;
  padding: 0px;
  margin: 25px 50px;
  
}

#Google p {
  font-weight: bold;
}

.input {
  font-size: 18px;
  padding: 10px 20px;

  margin: 20px 20px 10px 20px;
  border-radius: 10px;

}

.option-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}


.confirm {
  padding: 20px 36px;
  width: 100%;
  border-radius: 50px;
  background-color:  #DC3C70;
  color: white;
  font-size: 20px;
}




