@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src = "~/Images/logo.png" width="200" height="200" />
    <h1 class="display-4">Admin Page</h1>
    <h3 class="display-4">Welcome to Sweet Trip</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
