@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins";
  background-color: #ffe2cd;
  margin: 0;
  padding: 0;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5em;
  justify-content: space-around;
}
.top-nav-left {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
}

a,
u {
  text-decoration: none;
}
.heading {
  color: #a5516f;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Poppins";
  white-space: nowrap;
  overflow: hidden;
}

.adding-button {
  margin-top: -1.5rem;
  z-index: 3;
}
#get-started-button:hover {
  transform: scale(1.1);
  background-color: #664330;
}
.adding-button:hover {
  transform: scale(1.1);
}
button {
  cursor: pointer;
}
#my-form input,
#search-button {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 2px;
}
#my-form input {
  flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 25rem;
  font-size: 1rem;
  padding: 1rem;
}
#search-button {
  background: white;
  color: grey;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
}

#my-form {
  display: flex;
  flex-direction: row;
  padding: 0px;
  max-width: 30%;
}
#sign-in-button,
#sign-up-button {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: none;
  margin: 8px;
}
#sign-in-button {
  background-color: #664330;
  color: white;
}
#sign-up-button {
  background-color: #a5516f;
  color: white;
}
#sign-in-button:hover,
#sign-up-button:hover {
  transform: scale(1.1);
}
#sign-in-button:hover {
  background-color: #ad7252;
}
#sign-up-button:hover {
  background-color: #d46d91;
}
.intro {
  justify-content: center;
  align-items: center;
}
.top-left {
  max-width: 40%;
}

.top-right {
  float: right;
  padding: 4rem;
  padding-right: 3rem;
}

.intro {
  padding-left: 9rem;
}
#delivery-location {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  max-width: 100%;
}

#delivery-location input {
  flex-grow: 2;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid grey;
  width: 30px;
}

.body-wrapper {
  align-items: center;
  justify-content: center;
}
#delivery-location button {
  background: black;
  color: white;
  border-radius: 10px;
  border: 1px solid grey;
  text-align: center;
  padding: 1rem 1.75rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.intro-img-container {
  padding: 1rem;
}

.category-container:hover {
  transform: scale(1.2);
}

.intro-image {
  border-radius: 20px;
}
#img-wrap img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recommend-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.recommend-box {
  background-color: #f8f8f8;
  height: 24rem;
  width: 17rem;
  border-radius: 10px;
  padding-top: 1.75rem;
  display: flex;
  flex-direction: column;
  margin-right: 3.5rem;
}
.recommend-box-image {
  width: 14rem;
  height: 14rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.recommend-title {
  color: #202020;
  padding-left: 1.5rem;
  font-size: 1rem;
  max-width: fit-content;
}

.recommend-description {
  color: #808080;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  max-width: fit-content;
}

.recommend-detail {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.75rem;
}

.recommend-info {
  color: #202020;
  font-size: 0.75rem;
}
.tag {
  vertical-align: middle;
  padding-right: 0.25rem;
}

.recommend-row {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  /* max-width: 80%; */
}

#item-seach {
  max-width: 100%;
}

#item-search input {
  /* flex-grow: 2; */
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid white;
  width: 40rem;
  background: none;
}

#item-search button {
  background: black;
  color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
}

.category-img {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}

.category-container {
  text-align: center;
  display: inline-block;
  padding: 2rem;
}
.footer {
  padding: 30px 0px;
  text-align: center;
  background-color: #664330;
}

.footer .footer-row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}
.footer .footer-row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}
.footer .footer-row a:hover {
  color: #fff;
}
.footer .footer-row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .footer-row a i {
  font-size: 2em;
  margin: 0% 1%;
}
@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .footer-row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .footer-row a i {
    margin: 0% 3%;
  }
}
