html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    text-align: left;
    background-color: #FFE2CD;
}

.display-img {
    position: absolute;
    width: 28.5vw;
    margin-left: 86px;
    margin-top: 79px;
    
}

.dish-intro {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    position: absolute;
    margin-left: 35vw;
    margin-top: 5vh;
    font-style: normal;
    
}

p.class {
    font-weight: 500;
    font-size: 50px;
    color: #423F40;
}

h1.class {
    font-weight: 300;
    font-size: 71.2963px;
    color: #423F40;
}

h2.class {
    font-weight: 2000;
    font-size: 100px;
    color: #423F40;
}

.icon {
    position: absolute;
    left: 86.56%;
    right: 10.66%;
    top: 11.9%;
    bottom: 84.19%;
}

.description-tab {
    position: absolute;
    padding: 20px;
    width: 314px;
    height: 430px;
    margin-left: 60vw;
    margin-top: 20vh;

    background: linear-gradient(179.69deg, #FFFFFF 2.93%, #E1E0E0 101.74%);
    border-radius: 25px;
}

.overall {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #3F3F3F;

}

.rating-wrapper .rating {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 82px;
    font-weight: 900;

    color: #3F3F3F;
    display: block;
    z-index: 5;
    position: relative;

}

.rating-wrapper .green {
    position: absolute;
    width: 73.79px;
    height: 86.96px;
    margin-left: 0vw;
    margin-top: -10vh;

    background: #81E870;
    border-radius: 26px;
    display: block;
    z-index: 3;

}

.choco {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;

    color: #3F3F3F;
}

.name {
    margin: 5px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #3F3F3F;
}

.ingredient {
    margin: 5px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #3F3F3F;
}

.butto {
    display: inline;
}

.order-now-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;

    color: #FFFFFF;
    border: none;
    width: 238px;
    height: 43px;
    background: #f31d68;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 15px;
}

.order-now-btn:hover {opacity: 1;}

.check-review-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    color: #FFFFFF;
    border: none;
    width: 238px;
    height: 43px;
    opacity: 0.6;
    transition: 0.3s;
    background: #d4bf00;
    border-radius: 15px;
}

.check-review-btn:hover {opacity: 1;}
.icon input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.icon .search-container button{
    float: right;
    padding: 6px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.icon .search-container button:hover {
    background: #ccc;
}

.top-nav {
    width: 50vw;
    height: 111px;
    left: 10px;
    top: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 30px;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30rem;
  }

#my-form input,
#my-form button {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 2px;
}
#my-form input {
    margin-left: vw;
  flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 20rem;
  font-size: 1rem;
  padding: 1rem;
}

#my-form button {
  background: white;
  color: grey;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
}

#my-form {
  display: flex;
  float: right;
  margin-right: 20rem;
  margin-top: -6rem;
  flex-direction: row;
  padding: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(64, 16, 18, 1);
}

.price {
    position: relative;
    font-weight: 1000;
    font-size: 30px;
    color: rgba(249, 232, 220, 1);

    border: none;
    width: 15rem;
    justify-content: center;
    text-align: center;
    background-color: rgba(130, 98, 90, 1);
    border-radius: 15px;
    top: 55vh;
    left: 20vw;
}

.other-img {
    margin-top: 65vh;
    margin-left: 15vw;
    display: flex;
    
}

.ice-left {
    display: flex;
    position: absolute;
    width: 100px;
    left: 1rem;
    bottom: -50rem;
}

.ice-right {
    display: flex;
    position: absolute;
    height: 100px;
    left: 68rem;
    bottom: -50rem;
}

.heading {
    margin-top: -9rem;
    margin-left: 2rem;
    color: #a5516f;
    font-weight: 700;
    font-size: 3rem;
    white-space: nowrap;
    overflow: visible;
}

.cmt-frame {
    margin: 70px;
    background-color: rgba(249, 232, 220, 1);
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
    margin-left: -53rem;
    width: 100%;
    display: flex;
    margin-bottom: 3.2rem;
}

#review {
    background-color: rgb(243, 245, 209);
    font-size: 61px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #3F3F3F;

    width: 1000%;
    margin-top: 20rem;
    margin-left: -55rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: -13.4rem;
}

.choco-cake-mini {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(244, 185, 206, 1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 10rem;
    height: 15rem;
    left: 10rem;
    top: 20rem;
    border-radius: 10px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.pinky-mac {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 10rem;
    height: 15rem;
    left: 50rem;
    top: 0rem;
    border-radius: 10px;
}

.straw-yo {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 10rem;
    height: 15rem;
    left: 50rem;
    top: 0rem;
    border-radius: 10px;
}

.blue-cake {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 10rem;
    height: 15rem;
    left: 50rem;
    top: 0rem;
    border-radius: 10px;  
}

.cmt-box {
    display: flex;
    height: 18rem;
    left: 0rem;
    top: 0px;
    align-items: center;
    justify-content: center;


    background: linear-gradient(180deg, rgba(242, 238, 238, 0.71) 0%, rgba(252, 209, 209, 0.69) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100rem;
    border-radius: 50px;
}

.cmt-text {
    margin-top: -3rem;
    margin-left: -1rem;
}

#Name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    display: flex;
}

#code {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 17px;
display: flex;
}

#time {
    font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 17px;
display: flex;
letter-spacing: -0.5px;
color: rgba(0, 0, 0, 0.28);
}

#cont {
line-height: 17px;
display: flex;
}
