@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins";
  background-color: #ffe2cd;
}

.heading {
  font-size: 50px;
  color: #a5516f;
  float: left;
  padding-top: 3rem;
}
.top-nav {
  overflow: hidden;
  margin: 1rem;
}

#my-form {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

#my-form input,
#my-form button {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 2px;
}
#my-form input {
  flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 30rem;
  font-size: 1rem;
  padding: 1rem;
}
#my-form button {
  background: white;
  color: grey;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
}

.top-left {
  max-width: 40%;
}

.top-right {
  float: right;
  padding: 4rem;
  padding-right: 3rem;
}

.intro {
  padding-left: 10rem;
}
