@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #ffe2cd;
  margin: 0 auto;
}
body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #ffe2cd;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5em;
  justify-content: space-around;
}
.top-nav-left {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
}

.heading {
  color: #a5516f;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Poppins";
  white-space: nowrap;
  overflow: hidden;
}

#my-form input,
#my-form button {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 2px;
}
#my-form input {
  flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 25rem;
  font-size: 1rem;
  padding: 1rem;
}
#my-form button {
  background: white;
  color: grey;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
}

#my-form {
  display: flex;
  flex-direction: row;
  padding: 0px;
  max-width: 40%;
}

.random-offer-box {
  height: 260px;
  width: 100%;
  background-color: #664330;
  margin-top: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-img {
  max-height: 85%;
  width: 18rem;
  border-radius: 10px;
}

.random-offer-description {
  margin-left: 3rem;
  transform: translateY(10%);
}
.random-offer-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.random-offer-ingre {
  font-size: 0.8rem;
}
button {
  cursor: pointer;
}
.random-offer-info-box {
  margin-top: 1rem;
}
.random-offer-info {
  border-right: solid 2px #ffe2cd;
  padding-right: 3rem;
  height: 3rem;
  display: inline-block;
}

.fav-button {
  border: none;
  background-color: #ffe2cd;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  color: #404040;
  font-size: 1rem;
}

.fav-button-wrapper {
  transform: translateX(29%);
}

.random-offer-discount {
  background-color: transparent;
  width: 26rem;
  height: 8rem;
  border-left: none;
  display: block;
  border: dashed 3px #e07ea1;
  border-radius: 20px;
  color: #e07ea1;
  padding: 1rem;
  font-size: 1rem;
  padding-left: 2rem;
}

.checkout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
