.container {
  max-width: 1440px;
}

.login-container {
  max-width: 500px;
  padding: 106px;
  background-color: red;
}

form {
  width: 500px;
  height: 700px;
  left: 55vw;
  top: 15vh;
  margin-top: 100px;
  margin-left: 106px;
  margin-bottom: 130px;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 50px;
  border: 3px solid rgba(224, 142, 142, 0.582);
  padding: 40px;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #e5c9df;
  padding: 30px;
}
.logo {
  margin: auto;
  display: block;
}
button {
  padding: 14px 20px;
  border-radius: 50px;
  margin: 7px 0;
  width: 100%;
  font-size: 18px;
}
.box-break {
  margin: auto;
  padding: auto;
}

.create-button {
  background-color: #dc3c70;
  color: white;
  font-size: 18px;
}

.logo {
  position: absolute;
  width: 450px;
  height: 450px;
  left: 35vw;
  top: 30vh;
}

.background-page {
  position: absolute;
  margin: 0px;
  right: 40vw;
  top: 0vh;
  right: 0vw;
}
