.container {
  max-width: 1440px;
}

.login-container {
  max-width: 500px;
  padding: 106px;
  background-color: red;
}
.line {
  width: ;
}
form {
  border: 3px;
  border-color: red;
  border-radius: 10px;
}
