@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #ffe2cd;
  margin: 0;
}
button {
  cursor: pointer;
}
.cart-button:hover,
.avatar-button:hover {
  transform: scale(1.1);
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5em;
  justify-content: space-around;
}
.top-nav-left {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
}

.heading {
  color: #a5516f;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Poppins";
  white-space: nowrap;
  overflow: hidden;
}

#my-form input,
#my-form button {
  border-radius: 10px;
  border: 1px solid #808080;
  padding: 2px;
}
#my-form input {
  flex-grow: 2;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 25rem;
  font-size: 1rem;
  padding: 1rem;
}
#my-form button {
  background: white;
  color: grey;
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
}
#my-form {
  display: flex;
  flex-direction: row;
  padding: 0px;
  max-width: 40%;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
