@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Manrope", sans-serif;
  background-color: #e7b7c3;
}

.logo {
  margin: auto;
  display: block;
}

.box-break {
  margin: auto;
  padding: 1rem 0;
  font-size: 20px;
  color: #7a7a7a;
}
.create-button {
  background-color: #be7aa4;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

button {
  padding: 20px 36px;
  width: 100%;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
}

.input {
  font-size: 18px;
  padding: 10px 20px;
  margin: 1.5rem 0;
  border-radius: 30px;
  width: 92%;
  border-color: #e0e0e0;
  border-width: 3px;
  border: none;
  height: 3rem;
  font-family: "Manrope", FontAwesome, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: fixed;
  margin-top: 5rem;
  background-color: rgba(255, 248, 248, 0.582);
  border-radius: 50px;
  border: 3px solid #846060;
  padding: 40px;
}
#subheading {
  font-size: 1.25rem;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.create-button:hover {
  background-color: #914480;
  transform: scale(1.05);
}

.user-info-wrapper {
  transform: scale(0.8);
  margin-left: 20rem;
}

.google-image {
  transform: translateY(0.2rem);
  padding-right: 0.5rem;
}

.background-page {
  position: absolute;
  top: 0px;
  right: 0px;
}
