@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
    <link rel="stylesheet" href="~/css/popup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/popup1.js"></script>
    <script src="https://kit.fontawesome.com/b5526f75b4.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="popup-overlay">
        <div id="popup-message">
            <i class="fas fa-cart-plus"
               style="margin-right:10px;"></i>
            Product added successfully!
        </div>
    </div>

</body>
</html>
