@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

@model int 

<div class="cart-quantity-display" 
        style="width: 25%; height: 40%; border-radius: 50%; background-color: #ec3664; 
            color: white;  display: flex; align-items: center; justify-content: center
          ; font-weight: 600; transform: translate(3.6rem, -3.2rem); cursor: pointer;">@Model</div>
