@model FoodOrder.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class ="bg-warning text-white text-center 
            p-2 mt-5 mb-2">Edit Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="true"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                 <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn text-white btn-warning mb-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class ="btn btn-outline-warning">Back to List</a>
</div>


